.tab-list {
  display: flex;
  list-style-type: none;
}
.each-tab-item {
  margin-right: 15px;
}
.active-tab-item {
  color: red;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
